extends layout

block content
  h1 Welcome to the post listing!!
  form(action='/posts/createPost')
    p
      input(id='createNewPost', class='btn btn-small btn-primary', type='submit', value='Create New Post')