extends layout

block content
  div.container
    form(name='saveBlogFrm', action='/posts/save', method='post')
      fieldset
        legend Type your post
        label Post title
        input(type='text', placeholder='Post title' name='blogTitle')
        label Post body
        textarea(id='postBody',name='blogBody')
        label Author
        input(type='text', placeholder='Author', name='blogAuthor')
        p
         input.btn(type='submit', value='Create Post')    